{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>Fasilkom UI Smart Building</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 	<script src="{% static 'resources/blockly/blockly_compressed.js' %}"></script>
		<script src="{% static 'resources/blockly/blocks_compressed.js' %}"></script>
		<script src="{% static 'resources/blockly/blocks/smart_building.js' %}"></script>
		<script src="{% static 'resources/blockly/python_compressed.js' %} "></script>
		<script src="{% static 'resources/blockly/generators/python/pi.js' %}"></script>
		<script src="{% static 'resources/blockly/msg/js/en.js' %}"></script>
	 	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>
            <!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-expand-lg navbar-static-top">
		 		<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"></button>
						<a class="navbar-brand" href="/" style="font-size:21px;color:#fff;font-weight:500;">Fasilkom UI Smart Building</a>
					</div>
				</div>
            </nav>
	    	<div class="row" style="padding-right: 10px;">
				<div class="col-md-6">
				</div>
				<div class="col-md-6 text-right">
					<a class="btn btn-success" id="generate">Save Scene</a>
				</div>
	    	</div>
	    	<br>
			<div class="row" style="padding-left: 15px;">
				 <div id="blocklyDiv" style="height:480px; width:100%;"></div>
			</div>
	     	<xml id="toolbox" style="display: none">
				<category name="When" colour="210">
					<block type="when_btn"></block>
					<block type="when_reader"></block>
				</category>
				<category name="Do" colour="20">
					<block type="do_led"></block>
				</category>
			</xml>
	   <script>
		var workspace = Blockly.inject('blocklyDiv',
			{media: "{% static 'resources/blockly/media/' %}",
			 toolbox: document.getElementById('toolbox')});
		$(document).ready(function(){
			$("#generate").click(function(){
				var code = Blockly.Python.workspaceToCode(workspace);
				var getUrl = window.location;
				var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
				$.post(baseUrl+"exec/",
				{
				  command: code,
				},
				function(data,status){
					 var message = "Generate scene success!";
					 swal("Init", message, "success");
				});
			});
		});
	  </script>
  	</body>
</html>
