{% load bootstrap3 %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <title>Fasilkom UI Smart Building</title>
        <style type="text/css">
            .multiple-checkbox ul { /* Used to hide <li> elements in multiple checkbox forms */
              padding-left: 0px;
              list-style: none;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Fasilkom UI Smart Building</h1>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h2>Create new {{ model }}</h2>

                    <hr />

                    <form class="form-horizontal" role="form" method="POST">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
        			<button type="submit" class="btn btn-primary">
		        	        {% bootstrap_icon "star" %} Submit
			        </button>
			{% endbuttons %}
                        <!--<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>

        </div>

        <!-- scripts -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </body>
</html>
