{% load table_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>{{ model }} List</title>

        <link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"></button>
                        <a class="navbar-brand" href="/" style="font-size:21px;color:#fff;font-weight:500;">Fasilkom UI Smart Building</a>
                    </div>
                </div>
            </nav>

            <br />
        <div class="container">
            <div class="row">
            <div class="col-md-6">
            </div>
                <div class="col-md-6 text-right">
                <a class="btn btn-primary btn-add" href="{% url 'add_card' %}">Add New Card</a>
            </div>
            </div>
            <hr />
            {% block content %}
            {% endblock %}
        </div>
    </body>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#table').DataTable();
		    $('.btn_delete').click(function(){
                        var btn = $(this);
                        var kode_identitas = btn.attr('kode_identitas');
			var reader_id = btn.attr('reader_id');
                        var url = "{% url 'delete_card' 12345 54321 %}".replace(/12345/, reader_id).replace(/54321/, kode_identitas);
			swal({
			  title: "Are you sure?",
			  text: "Your will not be able to recover this entry!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((isConfirm) => {
			  if (isConfirm){
                            $.get(url, function(data, status) {
                              if (status == "success"){
                                     var message = "Deletion Success";
                                     swal("Delete", message, "success");
                              }
                            });
			  }
			});
                    });
		});
	</script>
</html>
