{% load table_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>{{ model }} List</title>

        <link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"></button>
                        <a class="navbar-brand" href="/" style="font-size:21px;color:#fff;font-weight:500;">Fasilkom UI Smart Building</a>
                    </div>
                </div>
            </nav>

            <br />
        <div class="container">
            <div class="row">
            <div class="col-md-6">
            </div>
                <div class="col-md-6 text-right">
                <a class="btn btn-success btn-init-all">Init All</a>
            </div>
            </div>
            <hr />
            {% block content %}
            {% endblock %}
        </div>
    </body>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#table').DataTable();
		    $('.btn_init').click(function(){
			var btn = $(this);
			var device_id = btn.attr('device_id');
			var url = "{% url 'init' 12345 %}".replace(/12345/, device_id);
			$.get(url, function(data, status) {
			  if (status == "success"){
				 var data = JSON.parse(data);
			         var port_zmq = btn.parent().parent().find(".port-zmq").text(data.port_zmq);
				 var pid_zmq = btn.parent().parent().find(".pid-zmq").text(data.pid_zmq);
				 var message = "Initiation Success on "+device_id+"!";
	                         swal("Init", message, "success");
			  }
			});
		    });
		    $('.btn-init-all').click(function(){
			var url = "{% url 'init_all' %}";
			$.get(url, function(data, status) {
				if (status == "success"){
					swal("Init", "Success Initiate all device!", "success")
					.then((value) => {
						window.location.reload();
					})
				}
			});
		    });
		} );
	</script>
</html>
