{% extends 'table/base.html' %}

{% block content %}
	<table id="table">
		<thead>
			<tr>
            			<th>Device ID</th>
				<th>Device UID</th>
				<th>Device Name</th>
            			<th>Device GPIO Port</th>
				<th>Device ZMQ Port</th>
				<th>Device ZMQ PID</th>
				<th>Device Type</th>
				<th>PAN ID</th>
				<th>Actions</th>
        		</tr>
    		</thead>
   		 <tbody>
			{% for device in devices %}
        		<tr>
            			<td>{{device.id}}</td>
				<td>{{device.uid}}</td>
            			<td>{{device.name}}</td>
				<td>{{device.port_gpio}}</td>
				<td class="port-zmq">{{device.port_zmq}}</td>
				<td class="pid-zmq">{{device.pid_zmq}}</td>
				<td>{{device.device_type.name}}</td>
				<td>{{device.pan_id}}</td>
				<td>
					<a type="button" class="btn btn-primary btn_init" device_id="{{device.id}}">Init</button>
				</td>
        		</tr>
			{% endfor  %}
    		</tbody>
	</table>
{% endblock %}
