{% extends 'table/base_2.html' %}

{% block content %}
	<table id="table">
		<thead>
			<tr>
            			<th>Kode Identitas</th>
				<th>Nama</th>
				<th>Actions</th>
        		</tr>
    		</thead>
   		 <tbody>
			{% for card in cards %}
        		<tr>
				<td>{{card.kode_identitas}}</td>
            			<td>{{card.nama}}</td>
				<td>
				     <a type="button" class="btn btn-danger btn_delete" kode_identitas="{{card.kode_identitas}}" reader_id="{{card.reader_id}}">Delete</button>	
				</td>
        		</tr>
			{% endfor  %}
    		</tbody>
	</table>
{% endblock %}
